.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
README.md
.env.*
.env
.env.development
/devops/*
*.csv
/tmp/*
temp
.git
dist
.nuxt
.storybook
node_modules
/postgres_scripts/*
/nginx-local/*
/kube/*
*.sh